@{
    var card = (Card)ViewData["Card"]!;
}

<div class="card border-light bg-dark text-light mb-3 CardDragItem--isDraggable" style="z-index: auto;max-width: 340px;"
     data-card-id="@card.Id">
    <div class="card-header d-flex justify-content-between CardDragItem--handle" style="max-height: fit-content;">
        <div class="CardDragItem--handle">
            <h4>@card.Title</h4>
        </div>
        <!-- Example split danger button -->
        <div class="btn-group" style="max-height: 40px; z-index: 1000;">
            <button type="button" class="btn btn-sm btn-outline-secondary text-secondary" data-bs-toggle="modal"
                    data-bs-target="#updateCardModel-@card.Id">Edit
            </button>
            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                    data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <form id="delete-card-form" class="delete-card-form" data-card-id="@card.Id">
                        <button class="btn btn-light" style="width: 100%" type="submit">Delete</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-body" style="max-height: 120px; overflow: auto;">
        <!-- Add 'markdown-content' class -->
        <div class="card-text text-secondary markdown-content">@card.Description</div>
    </div>
    <div class="card-footer">
        @foreach (var tag in card.AssignedTags)
        {
            <button class="btn-outline-light" style="width: fit-content;background-color: @tag.TagColourHexadecimal">@tag.Name</button>
        }
        <p class="card-text"><small class="text-muted">Created @card.CreatedAt.ToShortDateString()</small></p>
    </div>
</div>