@{
    var card = ViewData["Card"] as Card;
    const int maxTitleLength = 40;
    const int maxDescriptionLength = 500;
}

<div class="modal fade" id="updateCardModel-@card!.Id" tabindex="-1" aria-labelledby="updateCardModelLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="updateCardModelLabel">Update Card</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="update-card-form-@card.Id" class="update-card-form" data-card-id="@card.Id">
                    <div class="mb-3">
                        <label for="card-title" class="col-form-label">Card Title:</label>
                        <input type="text" class="form-control" id="card-title" maxlength="@maxTitleLength"
                               value="@card.Title">
                    </div>
                    <div class="mb-3">
                        <label for="card-description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="card-description"
                                  maxlength="@maxDescriptionLength">@card.Description</textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" form="update-card-form-@card.Id" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>